/* 把我们的标签内外边距清零 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* 让倾斜的文字不倾斜 */
i,
em {
   font-style: normal;
}
/* 把 li 的小黑点去掉 */
li {
    list-style: none;
}
a {
    color: #666;
    text-decoration: none;
}
img {
    /* 照顾低版本浏览器 */
    border: 0;
    /* 消除照片底侧空白缝隙 */
    vertical-align: middle;
}
button {
     /* 当我们的鼠标经过 bottom 按钮的时候，鼠标变成小手 */
     cursor: pointer;
}
button,
input {
    border: 0;
    font-family: 微软雅黑;
    overflow: hidden;
    outline: none;
  
    
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: '.';
    height: 0;
}
.clearfix {
    *zoom: 1
}