.sk {
  position: absolute;
  top: 40px;
  left: 185px;
  border-left: 1px solid #c81523;
  padding: 5px 14px;
}
.sk_list {
    float: left;
}
.sk_list ul li {
    float: left;
}
.sk_list ul li a {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding: 0 30px;
    line-height: 47px;
}
.sk_con ul li {
    float: left;
}
.sk_con ul li a {
    display: block;
    font-size: 14px;
    color: #666;
    padding: 0 23px;
    line-height: 47px;
}
.sk_con ul li:last-child a::after{
    content: '';
    font-family: 'icomoon';
}
.con_bd {
    overflow: hidden;
    margin-bottom: 10px;
}
.con_bd ul li {
    float: left;
  width: 290px;
  height: 460px;
  margin-right: 13px;
}
.con_bd ul li:nth-child(4n) {
    margin-right: 0;
}
.con_bd ul li:hover {
    border: 1px solid red;
}
.con_bd ul li img {
    width: 100%;
}
.con_bd ul li h5 {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 13px;
    
}
.con_bd ul li p {
    font-size: 22px;
    color: #e60012;
    margin-top: 10px;
    padding-left: 13px;
}
.con_bd ul li p::after {
    content: '$8900';
    font-size: 14px;
    color: #a4a4a4;
    padding-left: 5px;
}
.con_bd ul li .jdt {
    height: 28px;
    font-size: 14px;
    color: #666;
    padding-top: 5px;
    padding-left: 13px;
}
.con_bd ul li .jdt span {
    float: left;
}
.jdt .tt {
    float: left;
    width: 133px;
    height: 10px;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    border: 1px solid red;
}
.jdt .tt h6 {
  width: 50%;
  height: 9px;
  background-color: red;
  border-radius: 5px;
  transition: width 1s;
}
.jdt .tt h6:hover {
    width: 100%;
}
.con_bd ul li a {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #b1191a;
    text-align: center;
    
}